:root {
	/* colors */
	--primary-clr: 185, 71%, 41%;
	--text-clr: 345, 6%, 13%;
	--subheading-clr: 0, 0%, 69%;
	--bg-clr: 197, 23%, 94%;

	/* fonts */
	--ff-roboto-slab: 'Roboto Slab', serif;
	--ff-roboto-mono: 'Roboto Mono', monospace;
	--ff-montserat: 'Montserrat', sans-serif;

	/* font size */

	--fs-900: 2.81rem;
	--fs-800: 1.75rem;
	--fs-700: 1.5rem;
	--fs-600: 1.25rem;
	--fs-500: 1.125rem;
	--fs-400: 1rem;
	--fs-300: 0.9375rem;
}

/* ---------------- */
/* ------RESET---- */
/* --------------- */

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
picture {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-weight: 400;
}

/* body set up */

body {
	font-family: var(--ff-montserat);
	font-size: 1rem;
	color: hsl(var(--text-clr));
	background-color: hsl(var(--bg-clr));
	line-height: 1.5;
	display: grid;
	grid-template-rows: min-content 1fr;
	min-height: 100vh;
	overflow-x: hidden;
}

/* images setup */

img,
picture {
	max-width: 100%;
	display: block;
}

/* colors */

.text-color {
	color: hsl(var(--text-clr));
}

.primary-color-text {
	color: hsl(var(--primary-clr));
}

.subheading-color {
	color: hsl(var(--subheading-clr));
}

/* font sizes */

.fs-300 {
	font-size: var(--fs-300);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-900 {
	font-size: var(--fs-900);
}

/* typography */

.ff-roboto-mono {
	font-family: var(--ff-roboto-mono);
}
.ff-roboto-slab {
	font-family: var(--ff-roboto-slab);
}
.ff-montserat {
	font-family: var(--ff-montserat);
}
.letter-spacing-1 {
	letter-spacing: 1.35px;
}

/* reusable components */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.uppercase {
	text-transform: uppercase;
}

.grid {
	display: grid;
	grid-template-columns: minmax(2rem, 0.5fr) 1fr 3fr minmax(2rem, 0.5fr);
	gap: 4rem;
	place-items: center;
}

.grid > * {
	/* outline: 1px solid salmon; */
}

.btn {
	border: 1px solid hsl(var(--text-clr));
	padding: 0.5rem 1.8rem;
	display: inline-block;
	text-decoration: none;
	color: hsl(var(--text-clr));
	text-transform: uppercase;
}

/* header */

header {
	padding: 0.5rem 0;
}

/* navigation */
main {
	outline: 1px solid limegreen;
}

main > :first-child {
	grid-column: 2;
}
main > :last-child {
	grid-column: 3;
}

.nav-list {
	list-style: none;
	padding: 0;
}
.nav-list > * {
	padding: 0.55rem 0;
}

.nav-link {
	display: inline-block;
	text-decoration: none;
	color: hsl(var(--text-clr));
	transform: translateX(0px);
	transition: all 0.3s ease;
}
.nav-link:hover {
	color: hsl(var(--primary-clr));
	transform: translateX(20px);
	transition: all 0.3s ease;
}
.nav-link.active {
	position: relative;
	color: hsl(var(--primary-clr));
	transform: translateX(40px);
	transition: transform 0.3s ease;
}
.nav-link.active::before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 120%;
	background-color: hsl(var(--primary-clr));
	height: 2px;
	left: 50%;
	bottom: 40%;
	transform: translate(-50%, -50%);
}

.body-content > *:where(:not(:last-child)) {
	margin-bottom: 2rem;
}
.body-content > *:where(:last-child) {
	margin-top: 5rem;
}

.body-content > p {
	width: max(10rem, 80%);
}

.btn-cta {
	background-image: linear-gradient(
		hsl(var(--primary-clr)),
		hsl(var(--primary-clr))
	);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 0% 0%;
	transition: all 0.3s ease;
}
.btn-cta:hover {
	background-size: 100% 100%;
	color: #fff;
}
